<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DailyTaskMapper">
    
    <resultMap type="DailyTask" id="DailyTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskTitle"    column="task_title"    />
        <result property="taskType"    column="task_type"    />
        <result property="taskDescription"    column="task_description"    />
        <result property="taskDeliverables"    column="task_deliverables"    />
        <result property="taskTime"    column="task_time"    />
        <result property="isEnabled"    column="is_enabled"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDailyTaskVo">
        select task_id, task_title, task_type, task_description, task_deliverables, task_time, is_enabled, create_by, create_time, update_by, update_time, remark from daily_task
    </sql>

    <select id="selectDailyTaskList" parameterType="DailyTask" resultMap="DailyTaskResult">
        <include refid="selectDailyTaskVo"/>
        <where>  
            <if test="taskTitle != null  and taskTitle != ''"> and task_title = #{taskTitle}</if>
            <if test="taskType != null  and taskType != ''"> and task_type = #{taskType}</if>
            <if test="taskDescription != null  and taskDescription != ''"> and task_description = #{taskDescription}</if>
            <if test="taskDeliverables != null  and taskDeliverables != ''"> and task_deliverables = #{taskDeliverables}</if>
            <if test="taskTime != null "> and task_time = #{taskTime}</if>
            <if test="isEnabled != null  and isEnabled != ''"> and is_enabled = #{isEnabled}</if>
        </where>
    </select>
    
    <select id="selectDailyTaskByTaskId" parameterType="Long" resultMap="DailyTaskResult">
        <include refid="selectDailyTaskVo"/>
        where task_id = #{taskId}
    </select>
        
    <insert id="insertDailyTask" parameterType="DailyTask">
        insert into daily_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="taskTitle != null">task_title,</if>
            <if test="taskType != null">task_type,</if>
            <if test="taskDescription != null">task_description,</if>
            <if test="taskDeliverables != null">task_deliverables,</if>
            <if test="taskTime != null">task_time,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="taskTitle != null">#{taskTitle},</if>
            <if test="taskType != null">#{taskType},</if>
            <if test="taskDescription != null">#{taskDescription},</if>
            <if test="taskDeliverables != null">#{taskDeliverables},</if>
            <if test="taskTime != null">#{taskTime},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDailyTask" parameterType="DailyTask">
        update daily_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskTitle != null">task_title = #{taskTitle},</if>
            <if test="taskType != null">task_type = #{taskType},</if>
            <if test="taskDescription != null">task_description = #{taskDescription},</if>
            <if test="taskDeliverables != null">task_deliverables = #{taskDeliverables},</if>
            <if test="taskTime != null">task_time = #{taskTime},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteDailyTaskByTaskId" parameterType="Long">
        delete from daily_task where task_id = #{taskId}
    </delete>

    <delete id="deleteDailyTaskByTaskIds" parameterType="String">
        delete from daily_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>