<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysContractPayMapper">

    <resultMap type="com.ruoyi.system.domain.SysContractPay" id="SysContractPayResult">
        <result property="recordId" column="record_id"/>
        <result property="contractId" column="contract_id"/>
        <result property="userId" column="user_id"/>
        <result property="payeeTime" column="payee_time"/>
        <result property="payeeType" column="payee_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysContractPayVo">
        select record_id,
               contract_id,
               user_id,
               payee_time,
               payee_type,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from sys_contract_pay
    </sql>

    <select id="selectSysContractPayList" parameterType="com.ruoyi.system.domain.SysContractPay" resultMap="SysContractPayResult">
        <include refid="selectSysContractPayVo"/>
        <where>
            <if test="contractId != null  and contractId != ''">and contract_id = #{contractId}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="payeeTime != null ">and payee_time = #{payeeTime}</if>
            <if test="payeeType != null  and payeeType != ''">and payee_type = #{payeeType}</if>
        </where>
    </select>

    <select id="selectSysContractPayByRecordId" parameterType="String" resultMap="SysContractPayResult">
        <include refid="selectSysContractPayVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertSysContractPay" parameterType="com.ruoyi.system.domain.SysContractPay">
        insert into sys_contract_pay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="contractId != null">contract_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="payeeTime != null">payee_time,</if>
            <if test="payeeType != null">payee_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="contractId != null">#{contractId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="payeeTime != null">#{payeeTime},</if>
            <if test="payeeType != null">#{payeeType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysContractPay" parameterType="com.ruoyi.system.domain.SysContractPay">
        update sys_contract_pay
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractId != null">contract_id = #{contractId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="payeeTime != null">payee_time = #{payeeTime},</if>
            <if test="payeeType != null">payee_type = #{payeeType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteSysContractPayByRecordId" parameterType="String">
        delete
        from sys_contract_pay
        where record_id = #{recordId}
    </delete>

    <delete id="deleteSysContractPayByRecordIds" parameterType="String">
        delete from sys_contract_pay where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>