<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDiscussInfoMapper">
    
    <resultMap type="SysDiscussInfo" id="SysDiscussInfoResult">
        <result property="recordId"    column="record_id"    />
        <result property="title"    column="title"    />
        <result property="sortNo"    column="sort_no"    />
        <result property="discussType"    column="discuss_type"    />
        <result property="userId"    column="user_id"    />
        <result property="openUsers"    column="open_users"    />
        <result property="openDepts"    column="open_depts"    />
        <result property="openRoles"    column="open_roles"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysDiscussInfoVo">
        select record_id, title, sort_no, discuss_type, user_id, open_users, open_depts, open_roles, status, create_by, create_time, update_by, update_time, remark from sys_discuss_info
    </sql>

    <select id="selectSysDiscussInfoList" parameterType="SysDiscussInfo" resultMap="SysDiscussInfoResult">
        <include refid="selectSysDiscussInfoVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="sortNo != null "> and sort_no = #{sortNo}</if>
            <if test="discussType != null  and discussType != ''"> and discuss_type = #{discussType}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="openUsers != null  and openUsers != ''"> and open_users = #{openUsers}</if>
            <if test="openDepts != null  and openDepts != ''"> and open_depts = #{openDepts}</if>
            <if test="openRoles != null  and openRoles != ''"> and open_roles = #{openRoles}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysDiscussInfoByRecordId" parameterType="String" resultMap="SysDiscussInfoResult">
        <include refid="selectSysDiscussInfoVo"/>
        where record_id = #{recordId}
    </select>
        
    <insert id="insertSysDiscussInfo" parameterType="SysDiscussInfo">
        insert into sys_discuss_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="title != null">title,</if>
            <if test="sortNo != null">sort_no,</if>
            <if test="discussType != null">discuss_type,</if>
            <if test="userId != null">user_id,</if>
            <if test="openUsers != null">open_users,</if>
            <if test="openDepts != null">open_depts,</if>
            <if test="openRoles != null">open_roles,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="title != null">#{title},</if>
            <if test="sortNo != null">#{sortNo},</if>
            <if test="discussType != null">#{discussType},</if>
            <if test="userId != null">#{userId},</if>
            <if test="openUsers != null">#{openUsers},</if>
            <if test="openDepts != null">#{openDepts},</if>
            <if test="openRoles != null">#{openRoles},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysDiscussInfo" parameterType="SysDiscussInfo">
        update sys_discuss_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="sortNo != null">sort_no = #{sortNo},</if>
            <if test="discussType != null">discuss_type = #{discussType},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="openUsers != null">open_users = #{openUsers},</if>
            <if test="openDepts != null">open_depts = #{openDepts},</if>
            <if test="openRoles != null">open_roles = #{openRoles},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteSysDiscussInfoByRecordId" parameterType="String">
        delete from sys_discuss_info where record_id = #{recordId}
    </delete>

    <delete id="deleteSysDiscussInfoByRecordIds" parameterType="String">
        delete from sys_discuss_info where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>